:root {
  --background-light: #ffffff;
  --background-dark: #121212;
  --text-light: #121212;
  --text-dark: #ffffff;
  --link-light: #1a73e8;
  --link-dark: #8ab4f8;
  --button-light: #f1f3f4;
  --button-dark: #333;
  --button-hover-light: #e8f0fe;
  --button-hover-dark: #555;
}


/* Tema claro */
body {
  background-color: var(--background-light);
  color: var(--text-light);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--link-light);
}

button {
  background-color: var(--button-light);
  color: var(--text-light);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-light);
}

/* Tema escuro */
body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

body.dark-mode a {
  color: var(--link-dark);
}

body.dark-mode button {
  background-color: var(--button-dark);
  color: var(--text-dark);
}

body.dark-mode button:hover {
  background-color: var(--button-hover-dark);
}
